# Server
PORT=8080

# Supabase Credentials
SUPABASE_URL=https://xxxxxxxxxx.supabase.co
SUPABASE_KEY=XXXXX
POSTGRES_URL=postgresql://postgres.xxxxxxxxxx:XXXXXXXe@aws-0-us-east-1.pooler.supabase.com:6543/postgres

# Steam API
STEAM_API_KEY=XXXX
