# Pickle

PICKLE_HOSTNAME=pickle.pw 
PICKLE_API_HOSTNAME=api.${PICKLE_HOSTNAME}
PICKLE_UI_HOSTNAME=${PICKLE_HOSTNAME}

PICKLE_API_KEY=123

# Postgres Configuration

POSTGRES_USER=postgres
POSTGRES_PASSWORD=1q2w3e4r
POSTGRES_DB=pickle

# Ory Kratos Configuration

# URLs
SERVE_PUBLIC_BASE_URL=https://ory.${PICKLE_HOSTNAME}
SERVE_PUBLIC_CORS_ALLOWED_ORIGINS_0=https://${PICKLE_API_HOSTNAME}
SERVE_PUBLIC_CORS_ALLOWED_ORIGINS_1=https://${PICKLE_UI_HOSTNAME}

SERVE_ADMIN_BASE_URL=https://admin.ory.${PICKLE_HOSTNAME}

SESSION_COOKIE_DOMAIN=${PICKLE_HOSTNAME}

# SelfService URLs
SELFSERVICE_DEFAULT_BROWSER_RETURN_URL=https://${PICKLE_UI_HOSTNAME}/welcome
SELFSERVICE_FLOWS_ERROR_UI_URL=https://${PICKLE_UI_HOSTNAME}/auth/error
SELFSERVICE_FLOWS_SETTINGS_UI_URL=https://${PICKLE_UI_HOSTNAME}/settings
SELFSERVICE_FLOWS_RECOVERY_UI_URL=https://${PICKLE_UI_HOSTNAME}/auth/recovery
SELFSERVICE_FLOWS_VERIFICATION_UI_URL=https://${PICKLE_UI_HOSTNAME}/auth/verification
SELFSERVICE_FLOWS_VERIFICATION_AFTER_DEFAULT_BROWSER_RETURN_URL=https://${PICKLE_UI_HOSTNAME}
SELFSERVICE_FLOWS_LOGOUT_AFTER_DEFAULT_BROWSER_RETURN_URL=https://${PICKLE_UI_HOSTNAME}
SELFSERVICE_FLOWS_LOGIN_UI_URL=https://${PICKLE_UI_HOSTNAME}/auth/login
SELFSERVICE_FLOWS_REGISTRATION_UI_URL=https://${PICKLE_UI_HOSTNAME}/auth/registration

# Secrets
SECRETS_COOKIE=PLEASE-CHANGE-ME-I-AM-VERY-INSECURE
SECRETS_CIPHER=32-LONG-SECRET-NOT-SECURE-AT-ALL

# Google OIDC
SELFSERVICE_METHODS_OIDC_CONFIG_PROVIDERS_0_CLIENT_ID=
SELFSERVICE_METHODS_OIDC_CONFIG_PROVIDERS_0_CLIENT_SECRET=

# Discord OIDC
SELFSERVICE_METHODS_OIDC_CONFIG_PROVIDERS_1_CLIENT_ID=
SELFSERVICE_METHODS_OIDC_CONFIG_PROVIDERS_1_CLIENT_SECRET=

# Yandex OIDC
SELFSERVICE_METHODS_OIDC_CONFIG_PROVIDERS_2_CLIENT_ID=
SELFSERVICE_METHODS_OIDC_CONFIG_PROVIDERS_2_CLIENT_SECRET=

# Twitch OIDC (basic scope)
SELFSERVICE_METHODS_OIDC_CONFIG_PROVIDERS_3_CLIENT_ID=
SELFSERVICE_METHODS_OIDC_CONFIG_PROVIDERS_3_CLIENT_SECRET=

# Twitch OIDC (extended scopes)
SELFSERVICE_METHODS_OIDC_CONFIG_PROVIDERS_4_CLIENT_ID=${SELFSERVICE_METHODS_OIDC_CONFIG_PROVIDERS_3_CLIENT_ID}
SELFSERVICE_METHODS_OIDC_CONFIG_PROVIDERS_4_CLIENT_SECRET=${SELFSERVICE_METHODS_OIDC_CONFIG_PROVIDERS_3_CLIENT_SECRET}

# Integration with Pickle API
SELFSERVICE_FLOWS_SETTINGS_AFTER_OIDC_HOOKS_0_CONFIG_URL=http://host.docker.internal:8081/v1/webhooks/after-oidc-settings-update
SELFSERVICE_FLOWS_REGISTRATION_AFTER_HOOKS_0_CONFIG_URL=http://host.docker.internal:8080/v1/webhooks/ory/users
SELFSERVICE_FLOWS_REGISTRATION_AFTER_PASSWORD_HOOKS_2_CONFIG_URL=${SELFSERVICE_FLOWS_REGISTRATION_AFTER_HOOKS_0_CONFIG_URL}
SELFSERVICE_FLOWS_SETTINGS_AFTER_OIDC_HOOKS_0_CONFIG_AUTH_CONFIG_VALUE=${PICKLE_API_KEY}
SELFSERVICE_FLOWS_REGISTRATION_AFTER_HOOKS_0_CONFIG_AUTH_CONFIG_VALUE=${PICKLE_API_KEY}
SELFSERVICE_FLOWS_REGISTRATION_AFTER_PASSWORD_HOOKS_2_CONFIG_AUTH_CONFIG_VALUE=${PICKLE_API_KEY}